html {
  height: 100%;
}

body {
  margin: 0;
  display: grid;
  grid-template-rows: 1fr 5.5em;
  grid-template-areas: "content"
    "footer";
  height: 100%;
}

h1.overskrift3 {
  background-color: #7395ae;
  color: #f8f8fa;
  padding: 50px;
  text-align: center;
  margin: 10px;
}

h2.underskrift3 {
  grid-area: footer;
  background-color: #5D5C61;
  color: #f8f8fa;
  padding: 30px 0;
  text-align: center;
  margin: 0;
  width: 100%;
}

.content {
  grid-area: content;
}

#about-us {
  width: 100%;
  padding: 50px 0;
  text-align: left;
  background-color: white;
  margin-top: 20px;
  display: none;
}

.button {
  background-color: #7395ae;
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  -webkit-transition-duration: 0.4s;
  /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
}

.button1 {
  background-color: white;
  color: black;
  border: 2px solid #7395ae;
  width: 100%;
}

.button1:hover {
  background-color: #7395ae;
  color: white;
}

#privacy-policy {
  width: 100%;
  padding: 50px 0;
  text-align: left;
  background-color: white;
  margin-top: 20px;
  display: none;
}

.button2 {
  background-color: white;
  color: black;
  border: 2px solid #7395ae;
  width: 100%;
}

.button2:hover {
  background-color: #7395ae;
  color: white;
}

#contact-us {
  width: 100%;
  padding: 50px 0;
  text-align: left;
  background-color: white;
  margin-top: 20px;
  display: none;
}

.button3 {
  background-color: white;
  color: black;
  border: 2px solid #7395ae;
  width: 100%;
}

.button3:hover {
  background-color: #7395ae;
  color: white;
}

#contact-us-skjema {
  text-align: center;
  box-sizing: content-box;
  background-color: #c0c2ce;
  margin: left;
  width: 300px;
  height: 420px;
  padding: 30px;
  border: 8px solid black
}
