body {
  margin: 0;
}

h1.overskrift4 {
  background-color: #7395AE;
  color: #f8f8fa;
  padding: 50px;
  text-align: center;
  margin: 10px;
}

h2.underskrift4 {
  background-color: #5D5C61;
  color: #f8f8fa;
  padding: 30px 0;
  text-align: center;
  margin: 0;
  position: absolute;
  bottom: 0px;
  width: 100%;
}

#log-in-details {
  text-align: center;
  box-sizing: content-box;
  background-color: #c0c2ce;
  margin: auto;
  width: 300px;
  height: 300px;
  padding: 30px;
  border: 8px solid black
}

#register-link {
  text-align: center;
  padding: 50px;
}
