/*(baren skal være lightgray eller gray) */
#menu {
  display: grid;
  grid-template-columns: 3em 1fr 1fr 3em;
  font-size: 2rem;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  margin-bottom: 1em;
  width: 100%;
  background-color: #c0c2ce;
}

.menu-item {
  border-left: 1px solid black;
  color: black;
  width: 100%;
  text-align: center;
}

.menu-item:nth-child(1) {
  border-left: none;
}

.icon {
  max-height: 2em;
}

a:hover {
  background-color: #938e94;
}

.menu-text {
  padding-top: 0.5em;
}
