/*(baren skal være lightgray eller gray) */
#menu {
  display: flex;
  justify-content: space-around;
  font-size: 2rem;
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;

  margin-bottom: 1em;
}

.menu-item {}

.icon {
  max-height: 2em;
}

a:hover {
  background-color: darkgray eller dimgray
}
