body {
  margin: 0;
}

h1.overskrift5 {
  background-color: lightblue;
  padding: 50px;
  text-align: center;
  margin: 10px;
}

h2.underskrift5 {
  background-color: darkgrey;
  padding: 30px;
  text-align: center;
  margin: 0;
  position: absolute;
  bottom: 0px;
  width: 100%;
}

#register-details {
  text-align: center;
  box-sizing: content-box;
  background-color: lightgray;
  margin: auto;
  width: 350px;
  height: 550px;
  padding: 30px;
  border: 8px solid black
}
