body {
  margin: 0;
}

.overskrift2 {
  background-color: lightblue;
  padding: 50px;
  text-align: center;
  margin: 10px;
}

h2.underskrift2 {
  background-color: darkgrey;
  padding: 30px;
  text-align: center;
  margin: 0;
}

.buy-button {
  display: inline-block;
  border-radius: 4px;
  background-color: skyblue;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 10px;
  width: 125px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.buy-button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.buy-button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.buy-button:hover span {
  padding-right: 25px;
}

.buy-button:hover span:after {
  opacity: 1;
  right: 0;
}

.product-text-style {
  text-align: center;
  box-sizing: content-box;
  background-color: lightgray;
  margin: auto;
  width: 250px;
  height: 150px;
  padding: 30px;
  border: 8px solid black;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "heading heading"
    "price button";
}

.product-title {
  grid-area: heading;
}

.price {
  display: inline;
  font-size: 2rem;
}
