body {
  margin:0;
}

.overskrift2 {
  background-color: lightblue;
  padding: 50px;
  text-align: center;
  margin: 10px;
}

h2.underskrift2 {
  background-color: darkgrey;
  padding: 30px;
  text-align: center;
  margin: 0;
}
